<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="../scripts/change_pass.js"></script>
    <title>Login</title>
</head>

<body>
    <div id="wrapper">
        <h1>Change Password</h1>
        <form id="changePass">
            <input type="password" id="password" placeholder="Password">
            <input type="submit" value="Change Password">
        </form>
    </div>
</body>

</html>